<!DOCTYPE html>
<html>

  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script src="{{url_for('static', filename='styles/test.js')}}"></script>
    <div class="open">

    </div>

    <div class="header">
      <div class="menu">
        <span style="font-size:30px;cursor:pointer;color:white; " onclick="openNav()"> Menu &#9776; </span> </div><p1>
<img src="https://static1.squarespace.com/static/5112dd17e4b0ec824fd0821e/t/5b51a2a7aa4a99f62d2101ac/1532076725300/logo-headerHorizontal.png" height="80" />
         </p1>  <br /></div>

  <hr />



</head>
