<!doctype html>
{% if name == "Jean"%}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles2.css') }}">
<script src="{{url_for('static', filename='styles/test.js')}}"></script>
<head>
  <div class="open">



    <div class="header">
      <div class="menu">
         <span style="font-size:30px;cursor:pointer;color: #515151; " onclick="openNav()"> Menu &#9776; </span> </div></div><p1>
<center>
  <img src="https://static1.squarespace.com/static/5112dd17e4b0ec824fd0821e/t/5b51a2a7aa4a99f62d2101ac/1532076725300/logo-headerHorizontal.png" height="80" /></center>  <br /></div>


  <hr />



  <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="open">

      <div class="header">
        <div class="menu">
         </div><p1>
  <img src="https://static1.squarespace.com/static/5112dd17e4b0ec824fd0821e/t/5b51a2a7aa4a99f62d2101ac/1532076725300/logo-headerHorizontal.png" height="80" />
           </p1>  <br /></div>

    <hr />
    </div>
    <div class="overlay-content">
      <a href="http://set09103.napier.ac.uk:9158/">Home</a>

      <a href="#">Musical</a>
      <a href="#">Film</a>
      <a href="#">Contact</a>
    </div>
  </div>
</head>
<body >
<div class="headerOver">
    <h1> <a href="http://set09103.napier.ac.uk:9158/about" style="text-decoration:none; color:#515151">Overview</a>    &emsp;           <a href="file:///Users/katiemcnamara/Desktop/characters.html" style="text-decoration:none; color:#515151">Characters</a>  </h1>
  </div>
<div class="charPar">


<div class="row">
  <div class="column" >
<h1>Hello JeanValjean</h1>

</body>
{% elif name =="Cosette" %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles2.css') }}">
<script src="{{url_for('static', filename='styles/test.js')}}"></script>
<head>
  <div class="open">



    <div class="header">
      <div class="menu">
         <span style="font-size:30px;cursor:pointer;color: #515151; " onclick="openNav()"> Menu &#9776; </span> </div></div><p1>
<center>
  <img src="https://static1.squarespace.com/static/5112dd17e4b0ec824fd0821e/t/5b51a2a7aa4a99f62d2101ac/1532076725300/logo-headerHorizontal.png" height="80" /></center>  <br /></div>


  <hr />



  <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="open">

      <div class="header">
        <div class="menu">
         </div><p1>
  <img src="https://static1.squarespace.com/static/5112dd17e4b0ec824fd0821e/t/5b51a2a7aa4a99f62d2101ac/1532076725300/logo-headerHorizontal.png" height="80" />
           </p1>  <br /></div>

    <hr />
    </div>
    <div class="overlay-content">
      <a href="http://set09103.napier.ac.uk:9158/">Home</a>

      <a href="#">Musical</a>
      <a href="#">Film</a>
      <a href="#">Contact</a>
    </div>
  </div>
</head>
<body >
<div class="headerOver">
    <h1> <a href="http://set09103.napier.ac.uk:9158/about" style="text-decoration:none; color:#515151">Overview</a>    &emsp;           <a href="file:///Users/katiemcnamara/Desktop/characters.html" style="text-decoration:none; color:#515151">Characters</a>  </h1>
  </div>
<div class="charPar">


<div class="row">
  <div class="column" >
<h1>Hello cosette</h1>

<p>
  Cosette is the main deuteragonist in the novel Les Misérables by Victor Hugo. She is the illegitimate daughter of Fantine and Félix Tholomyès. Her birth name is Euphrasie but she is referred to throughout her life as "Cosette." As a small child, she is left with the Thénardiers and their children, who horribly abuse her while indulging their own young daughters, Éponine and Azelma.  On Christmas of 1823, Cosette is adopted (and saved) by Jean Valjean. Later she grows into a beautiful young girl and marries Marius Pontmercy near the end of the story. She is also one of the few characters to have survived the entire course of the novel and musical.
</p>

</div>
<div class="column" >
  <h1>Film Portrayals</h1>

  <p>
    Les Miserables (1978)
<br />
    Caroline Langrishe - Cosette (Adult)
    <br />
    Joanne Price - Cosette (Child)
  </p>

  <P>
    Les Miserables (1982)
    <br />
    Christiane Jean - Cosette (Adult)
    <br />
    Valentine Bordelet - Cosette (child)
  </P>
  <p>
 Les Miserables (1998)
  <br />
    Claire Danes - Cosette (Adult)
    <br />
    Mimi Newman -  Cosette (Child)
    </p>
    <p>
      Les Miserables (2012)
      <br />
      Amanda Seyfried - Cosette (Adult)
      Isabelle Allen - Cosette (Child)
    </p>



</div>

<div class="column" >
  <img src="https://www.polarisproductions.org/wp-content/uploads/2017/11/cosette-1.png" width="500" height="500" class="" >
</div>
</div>
</body>
{% elif name =="Fantine" %}
<h1>Hello Fantine</h1>
{% elif name =="Cosette" %}
<h1>Hello cosette</h1>
{% endif %}
