<!doctype html>
{% if name == "IDreamedADream"%}

<!DOCTYPE html>
<html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles2.css') }}">
<script src="{{url_for('static', filename='styles/test.js')}}"></script>
  <head>
    <div class="open">



      <div class="header">
        <div class="menu">
           <span style="font-size:30px;cursor:pointer;color: #515151; " onclick="openNav()"> Menu &#9776; </span> </div></div><p1>
  <center>
    <img src="https://static1.squarespace.com/static/5112dd17e4b0ec824fd0821e/t/5b51a2a7aa4a99f62d2101ac/1532076725300/logo-headerHorizontal.png" height="80" /></center>  <br /></div>


    <hr />



    <div id="myNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <div class="open">

        <div class="header">
          <div class="menu">
           </div><p1>
    <img src="https://static1.squarespace.com/static/5112dd17e4b0ec824fd0821e/t/5b51a2a7aa4a99f62d2101ac/1532076725300/logo-headerHorizontal.png" height="80" />
             </p1>  <br /></div>

      <hr />
      </div>
      <div class="overlay-content">
        <a href="http://set09103.napier.ac.uk:9158/">Home</a>
        <a href="http://set09103.napier.ac.uk:9158/about">Overview</a>
        <a href="http://set09103.napier.ac.uk:9158/about/characters">Characters</a>
        <a href="http://set09103.napier.ac.uk:9158/musical">Musical</a>
        <a href="http://set09103.napier.ac.uk:9158/about/film">Films</a>
      </div>
    </div>
</head>
<body >
  <div class="headerOver">
<h1> <a href="http://set09103.napier.ac.uk:9158/about" style="text-decoration:none; color:#515151">Overview</a>    &emsp;  <a href="http://set09103.napier.ac.uk:9158/about/characters" style="text-decoration:none; color:#515151">Characters</a>  &emsp;  <a href="http://set09103.napier.ac.uk:9158/musical" style="text-decoration:none; color:#515151">Musical</a> &emsp;  <a href="http://set09103.napier.ac.uk:9158/about/film"style="text-decoration:none;color:#515151">Film</a></h1>
    </div>
<div class="charPar">


  <div class="container">
   <div class="column-left">
     <h1>LYRICS..</h1>
     <p>There was a time when men were kind
When their voices were soft
And their words inviting
There was a time when love was blind
And the world was a song
And the song was exciting
There was a time
Then it all went wrong
I dreamed a dream in times gone by
When hope was high and life worth living
</p>

    </div>
 </div>
    <div class="column-center">
<p>
  I dreamed, that love would never die
  I dreamed that God would be forgiving
  Then I was young and unafraid
  And dreams were made and used and wasted
  There was no ransom to be paid
  No song unsung, no wine untasted
  But the tigers come at night
  With their voices soft as thunder
  As they tear your hope apart
  As they turn your dream to shame
  He slept a summer by my side
  He filled my days with endless wonder
  He took my childhood in his stride
  But he was gone when autumn came
  And still I dream he'll come to me
  That we will live the years together
  But there are dreams that cannot be
  And there are storms we cannot weather
  I had a dream my life would be
  So different from this hell I'm living
  So different now from what it seemed
  Now life has killed the dream
  I dreamed
</p>

    </div>
  </div></div>
  <div class="column-right"><h1>I DREAMED A DREAM</h1>
         <p>
           <iframe width="420" height="345" src="https://www.youtube.com/embed/86lczf7Bou8">
       </iframe>
                     </p>
                     <p>

                       <center>

                         <b>Anne Hathaway Les Miserables (2012) </b> </center>
                     </p></div>
  </div>





</div>




</body>
</html>

{% elif name =="CastleOnACloud" %}
{% elif name =="DoYouHearThePeopleSing" %}
{% elif name =="OneDayMore" %}
{% elif name =="OnMyOwn" %}
{% endif %}
