

body {
  font-family: Arial;
  padding: 20px;
  background: #CCF4FE;
}

.header {
  padding: 20px;
  font-size: 40px;
  font-family: courier;
  text-align: center;
}

mark {
  background-color: #FCF7E0;
  color: #9F867F;
  padding: 5px;
}
