

body {
  font-family: Arial;
  padding: 20px;
  background: #F45C5C;
}

.header {
  padding: 20px;
  font-size: 40px;
  font-family: courier;
  text-align: center;
}

mark {
  background-color: #000000;
  color: white;
  padding: 5px;
}
